In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('C:\\Users\\UTSAV\\Desktop\\github\\LinearRegression\\\\aids.csv')
data.head(2)

   Unnamed: 0  year  quarter  delay  dud  time  y
0           1  1983        3      0    0     1  2
1           2  1983        3      2    0     1  6

In [4]:
x = data.drop(['Unnamed: 0','delay'],axis = 1)
y = data['delay']

In [5]:
X = sm.add_constant(x)
var = sm.OLS(y,X)
var1 = var.fit()
print(var1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  delay   R-squared:                       0.300
Model:                            OLS   Adj. R-squared:                  0.295
Method:                 Least Squares   F-statistic:                     60.46
Date:                Thu, 22 Aug 2019   Prob (F-statistic):           1.66e-42
Time:                        14:42:28   Log-Likelihood:                -2162.9
No. Observations:                 570   AIC:                             4336.
Df Residuals:                     565   BIC:                             4358.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.825e-05   5.13e-05     -0.355      0.722      -0.000    8.26e-05
year           0.0113      0.001     15.579      0.000       0.010       0.013
quarter       -0.2238      0.406     -0.552      0.581      -1.021       0.573
dud            7.3945      1.648      4.487      0.000       4.157      10.631
time          -0.0337      0.059     -0.572      0.568      -0.150       0.082
y             -0.2337      0.020    -11.410      0.000      -0.274      -0.193
==============================================================================
Omnibus:                       70.040   Durbin-Watson:                   0.945
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               19.963
Skew:                           0.104   Prob(JB):                     4.62e-05
Kurtosis:                       2.107   Cond. No.                     6.09e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.08e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\UTSAV\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [6]:
model = LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25,random_state = 0)
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [7]:
y_pred = model.predict(x_test)
y_pred

array([  8. ,  20. ,  22. ,  18. ,  23. ,  29.5,  19.5,  21. ,  18. ,
        20.5,  28.5,  28. ,  21.5,  22. ,  22. ,  18.5,  20.5,  21. ,
        21. ,  16.5,  22. ,  21.5,  14.5,  21.5,  19.5,  21. ,  20.5,
        22. ,  14. ,  22. ,  29. ,  20.5,  29.5,  20.5,  21.5,  22. ,
        29. ,  27.5, -16. ,  13. ,  17.5,  27.5,  22. ,  21. ,  21.5,
        22.5,  20.5,  22. ,  12. ,  20.5,  22. ,   4. ,  11. ,   8.5,
        -0.5,  20. ,   8.5,  29.5,   0. ,  29.5,  18. ,  20. ,  29. ,
        21.5,  20. ,  21.5,  30. ,  23. ,  21. ,  22. ,  28. ,  21. ,
        20. ,  20.5,  22.5,  30. , -20.5,  20. ,  19.5,  20.5,  18.5,
        20. ,  22.5,  20.5,  18. ,  21.5,  14.5,  21. ,  20. ,  20.5,
        19. ,  21. ,  22.5,  29. ,  28. ,  18. ,  18. ,  21. ,  18.5,
         9. ,  15.5,  22. ,  22.5,  23. ,  21. ,  20. ,  21. ,  21.5,
        19.5,  29.5,  19.5,  19. ,  13. ,  12.5,  21. ,  20.5,  21.5,
        29.5,  19. ,  22.5,  20.5,  21. ,  22.5,  -7. ,  19. ,  20. ,
        19. ,  19. ,  22.5,  21.5,  27.5,  12. ,  20. ,  21. ,  20.5,
        20.5,  27.5,  20.5,  29.5,  20.5,  22.5,  21.5,  16. ])

In [8]:
model.score(x_test,y_test)

0.28285973995642266

In [9]:
x_test

     year  quarter  dud  time    y
196  1986        4    0    14   53
261  1987        4    0    18    3
132  1985        3    0     9    0
468  1991        2    0    32   14
37   1984        1    0     3    0
516  1992        1    1    35    0
384  1989        4    0    26    2
429  1990        3    0    29    1
347  1989        2    0    24   14
308  1988        3    0    21    4
548  1992        3    1    37    0
502  1991        4    1    34    0
157  1986        1    0    11    5
134  1985        3    0     9    0
90   1985        1    0     7    4
351  1989        2    0    24   12
165  1986        2    0    12    7
353  1989        2    0    24    3
89   1984        4    0     6    0
393  1990        1    0    27   24
31   1984        1    0     3    4
188  1986        3    0    13    1
332  1989        1    0    23   32
357  1989        2    0    24    0
333  1989        1    0    23   10
311  1988        3    0    21    2
245  1987        3    0    17    4
14   1983        3    0     1    1
362  1989        3    0    25   29
298  1988        2    0    20    1
..    ...      ...  ...   ...  ...
467  1991        2    0    32   39
337  1989        1    0    23    4
170  1986        2    0    12    7
339  1989        1    0    23    2
517  1992        1    1    35    0
408  1990        2    0    28   10
96   1985        1    0     7    3
268  1987        4    0    18    1
179  1986        2    0    12    4
282  1988        1    0    19    1
391  1990        1    0    27  124
272  1988        1    0    19   16
382  1989        4    0    26    1
202  1986        4    0    14    7
471  1991        2    0    32   10
159  1986        1    0    11    1
338  1989        1    0    23    3
569  1992        4    1    38    0
211  1987        1    0    15   44
186  1986        3    0    13    7
310  1988        3    0    21    3
276  1988        1    0    19    8
140  1985        4    0    10    2
561  1992        4    1    38    0
208  1986        4    0    14    1
515  1992        1    1    35    0
412  1990        2    0    28    4
113  1985        2    0     8    1
299  1988        2    0    20    3
76   1984        4    0     6   22

[143 rows x 5 columns]

In [10]:
y_test

196     2
261    17
132    35
468     8
37     20
516    17
384    26
429    26
347     5
308    23
548    23
502    20
157    20
134    41
90      0
351    17
165     0
353    23
89     41
393     8
31      2
188    23
332     5
357    35
333     8
311    32
245    14
14     41
362     5
298    38
       ..
467     5
337    20
170    14
339    26
517    20
408     8
96     17
268    38
179    41
282    35
391     2
272     5
382    20
202    20
471    17
159    26
338    23
569    41
211     2
186    17
310    29
276    17
140    14
561    17
208    38
515    14
412    20
113    23
299    41
76      2
Name: delay, Length: 143, dtype: int64

In [11]:
y_pred

array([  8. ,  20. ,  22. ,  18. ,  23. ,  29.5,  19.5,  21. ,  18. ,
        20.5,  28.5,  28. ,  21.5,  22. ,  22. ,  18.5,  20.5,  21. ,
        21. ,  16.5,  22. ,  21.5,  14.5,  21.5,  19.5,  21. ,  20.5,
        22. ,  14. ,  22. ,  29. ,  20.5,  29.5,  20.5,  21.5,  22. ,
        29. ,  27.5, -16. ,  13. ,  17.5,  27.5,  22. ,  21. ,  21.5,
        22.5,  20.5,  22. ,  12. ,  20.5,  22. ,   4. ,  11. ,   8.5,
        -0.5,  20. ,   8.5,  29.5,   0. ,  29.5,  18. ,  20. ,  29. ,
        21.5,  20. ,  21.5,  30. ,  23. ,  21. ,  22. ,  28. ,  21. ,
        20. ,  20.5,  22.5,  30. , -20.5,  20. ,  19.5,  20.5,  18.5,
        20. ,  22.5,  20.5,  18. ,  21.5,  14.5,  21. ,  20. ,  20.5,
        19. ,  21. ,  22.5,  29. ,  28. ,  18. ,  18. ,  21. ,  18.5,
         9. ,  15.5,  22. ,  22.5,  23. ,  21. ,  20. ,  21. ,  21.5,
        19.5,  29.5,  19.5,  19. ,  13. ,  12.5,  21. ,  20.5,  21.5,
        29.5,  19. ,  22.5,  20.5,  21. ,  22.5,  -7. ,  19. ,  20. ,
        19. ,  19. ,  22.5,  21.5,  27.5,  12. ,  20. ,  21. ,  20.5,
        20.5,  27.5,  20.5,  29.5,  20.5,  22.5,  21.5,  16. ])